*
  box-sizing: border-box
body
  +reg
img
  max-width: 100%
.container
  width: 1199px
  margin: auto
.section
  padding-top: 85px
  &-title
    margin: 0
    font-size: 40px
    color: $heading-color
    +bold
.button
  width: 206px
  padding-top: 15px
  padding-bottom: 15px
  font-size: 14px
  border: none
  color: #ffffff
  text-transform: uppercase
  border-radius: 25px