.consultation
  padding-bottom: 53px
  &-block
    display: flex
    justify-content: space-between
    align-items: center
  &__text
    // margin-right: 42px
  &__title
    max-width: 740px
    margin-bottom: 25px
  &__subtitle
    font-size: 14px
    +bold
    color: $heading-color
  &__call
    background-color: $main-color
    margin-right: 23px
  &__reception
    background-color: $third-color
  &-buttons
    display: flex