.hero
  background: url('../img/hero/hero-bg.jpg'), linear-gradient(to top, #816890 0%, #dc7aa3 100%)
  background-size: cover, 100%
  background-position: left center, center
  background-repeat: no-repeat
  position: relative
  padding-top: 0
  &__img
    z-index: 1
    position: absolute
    left: 2%
    bottom: -2px
    width: 60%
    max-height: 887px
  &-block
    display: flex
    justify-content: flex-end
  &__info
    z-index: 2
    flex-basis: 50%
    padding-top: 300px
    padding-bottom: 300px
    color: #ffffff
  &__subtitle
    display: block
    font-size: 25px
    text-transform: uppercase
    +bold
    margin-bottom: 20px
  &__title
    margin: 0
    font-size: 88px
    text-transform: uppercase
    +bold
    margin-bottom: 35px
  &__text
    margin-bottom: 29px
    font-size: 16px
    line-height: 25px
  &__btn
    background-color: #ffffff
    color: #3f3f3f
    +bold
@media (max-width: 1600px)
  .hero
    &__info
      padding-top: 200px
      padding-bottom: 250px
@media (max-width: 1300px)
  .hero
    &__info
      padding-top: 150px
      padding-bottom: 200px
    &__title
      font-size: 70px
@media (max-width: 1200px)
  .hero
    &__info
      padding-top: 150px
      padding-bottom: 150px
    &__subtitle
      font-size: 18px
    &__title
      font-size: 60px
@media (max-width: 992px)
  .hero
    &__info
      padding-top: 70px
@media (max-width: 768px)
  .hero
    display: flex
    flex-direction: column-reverse
    &__img
      position: relative
      width: 100%
      left: 0
    &__info
      flex-basis: 100%
      padding-top: 50px
      padding-bottom: 0
      margin-bottom: 25px
    &__title
      margin-bottom: 20px
@media (max-width: 425px)
  .hero
    &__subtitle
      font-size: 16px
      margin-bottom: 15px
    &__title
      font-size: 40px
      margin-bottom: 15px
    &__text
      margin-top: 0
      margin-bottom: 20px
      font-size: 15px
      line-height: 1.4
    
