.hero
  background: url('../img/hero/hero-bg-2.jpg'), linear-gradient(to top, #816890 0%, #dc7aa3 100%)
  background-size: cover, 100%
  background-repeat: no-repeat
  position: relative
  padding-top: 302px
  padding-bottom: 328px
  &__img
    position: absolute
    left: 53px
    bottom: -2px
  &__info
    padding-left: 604px
    display: flex
    flex-direction: column
    color: #ffffff
  &__subtitle
    display: block
    font-size: 25px
    text-transform: uppercase
    +bold
    margin-bottom: 20px
  &__title
    margin: 0
    font-size: 88px
    text-transform: uppercase
    +bold
    margin-bottom: 35px
  &__text
    margin-bottom: 29px
    font-size: 16px
    line-height: 25px
  &__btn
    color: #3f3f3f
    +bold
