.navbar
  background-color: #ffffff
  &-block
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 18px
    padding-bottom: 40px
  &-list
    list-style: none
    padding: 0
    display: flex
    justify-content: space-between
    &__item
      margin-top: 6px
      +bold
      margin-right: 30px
      text-transform: uppercase
    &__link
      display: inline-block
      color: $heading-color
      text-decoration: none
      position: relative
      &:hover
        color: $main-color
        &:after
          display: block
      &:after
        display: none
        position: absolute
        content: ''
        width: 50%
        height: 2px
        bottom: -14px
        left: 25%
        background-color: $main-color
  &__button
    width: 45px
    height: 45px
    text-align: center
    line-height: 45px
    padding-top: 3px
    padding-left: 7px
    border-radius: 50%
    border: none
    background-color: $main-color
      